#attribution{
    position:absolute;
    bottom:0px;
    right:0px;
    height: 27px;
    z-index:10000;
    background-color:rgba(255,255,255,0.5);
}
.attr{
     color: black !important;
 }
.hyp{
    color: darkblue !important;
}
.attr:hover{
    color: darkblue !important;
}
.buttonbg{
    color: #6c757d
}

.buttonfg{
    color: #f8f9fa;
}
.buttonfgclicked{
    color: #83f99f
}

.cameranumber{
    margin-top: 1.52em;
    font-size: 10px;
    color: #f8f9fa;
}

.downchevron{
    margin-top: 1.4em;
    margin-left: 1em;
    font-size: 10px;
    color: #f8f9fa;
}

.leaflet_map_container{
    position:relative;
    top:10px;
    left:10px;
    height: 400px;
    width: 400px;
    resize: both;
    min-width: 100px;
    min-height: 100px;

    max-width: 100%;
    max-height: 100%;
    z-index:100;
    background-color:rgba(255,255,255,0.5);
    overflow:hidden
}

#leafletmap{
    position: relative;
    height:95%;
    width:95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;

}

.btn{
    height: 50px;
    border-width: 2px;
    background-repeat: repeat-x;
    background-size: 0 40px;
}

.cammarker {
    color: orangered;
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 10px; /* Vertically center the text (icon) */
    font-size: 10px;
}

.camlookatmarker {
    color: magenta;
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 10px; /* Vertically center the text (icon) */
    font-size: 10px;
}

#btnColormap1 {
    background: url('../assets/cmapimages/Colormap_01.png');
}
#btnColormap2 {
    background: url('../assets/cmapimages/Colormap_02.png');
}
#btnColormap3 {
    background: url('../assets/cmapimages/Colormap_03.png');
}
#btnColormap4 {
    background: url('../assets/cmapimages/Colormap_04.png');
}
#btnColormap5 {
    background: url('../assets/cmapimages/Colormap_05.png');
}
#btnColormap6 {
    background: url('../assets/cmapimages/Colormap_06.png');
}
#btnColormap7 {
    background: url('../assets/cmapimages/Colormap_07.png');

}

.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}