#attribution{
    position:absolute;
    bottom:0px;
    right:0px;
    height: 24px;
    z-index:10000;
    background-color:rgba(255,255,255,0.5);
}
.attr{
     color: black;
 }

.buttonbg{
    color: #6c757d
}

.buttonfg{
    color: #f8f9fa;
}
.buttonfgclicked{
    color: #28a745
}

.cameranumber{
    margin-top: 1.52em;
    font-size: 10px;
    color: #f8f9fa;
}